/*===MEDIA QUERIES
=======================================================*/
@media (min-width: 768px) {
    /*Header*/
    .text-header{
        margin-top: 2rem;
        text-align: start;
        margin-left: 0;
        padding-left: 0;
    }  
    .main-text{
        margin: 0;
    } 
    .img-appstore{
        margin-top: 1rem;
    }
    /*Icons*/
    .icons{
        margin: 1rem 0;
    }

    /*Work*/
    .phone{
        max-width: 100%;
        margin-top: 0rem;
    }
    .row-work{
        padding: 1rem   ;
    }
    .col-work img{
        padding: 1rem;
    }

    /*Abput Members*/
    .paragraph-about-members{
        text-align: start;
    }  
    /*Question*/
    .item-4{
        margin-bottom: 11px;
    }

    .accordion{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /*Contact*/
    .title-contact{
        text-align: start;
    }    
    .col-contact:last-of-type{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    /*Footer*/
    .footer .row .logo-footer{
        text-align: start;
    }
    .footer .row .socialMedia{
        text-align: end;
    }
    .socialMedia a i{
        font-size: 20px;
        margin: 0 4px;
    }
}
@media (min-width: 992px) {
    /*Header*/
    .header{
        background-color: transparent;
    } 
    .text-header{
        margin-top: 82px;
        color: #ffffff;
        padding-right: 150px;
    }
    .text-header h1{
        font-size: 44px;
        margin-left: 1px;
    }
    .text-header img{
        margin-top: 38px;
        margin-left: 3px;
        width: 127px;
    }
    .site-header nav{
        margin-left: 232px;
        margin-right: 220px;
    }
    .text-header{
        margin-left: 130px;
    }
    .site-header .container .collapse{
        justify-content: end;
    }
    .link4{
        margin-right: 108px;
    }
    .link4 a{
        margin-right: 1px;
        font-size: 17px;
    }
    .link3{
        margin-right: 105px;
    }
    .link3 a{
        margin-right: 3px;
        font-size: 17px;
        margin-top: 1px;
    }
    .link2{
        margin-right: 95px;
    }
    .link2 a{
        margin-right: -6px;
        font-size: 17px;
        margin-top: 1px;
    }
    .link1{
        margin-right: 95px;
    }
    .link1 a{
        margin-right: 0px;
        margin-top: 1px;
        font-size: 17px;
    }
    .link5 a{
        margin-top: 2px;
        font-size: 17px;
        margin-right: -5px;
    }
    .logo-header{
        margin-left: 0px;
        width: 160px;
        margin-top: 1px;
    }

    /*Icons*/
    .section-icons{
        height: 337px;
    }
    .col-icon{
        margin-top: 53px;
    }
    .col-icon:first-of-type{
        padding-left: 137px;
    }
    .col-icon:last-of-type{
        padding-right: 135px;
    }
    .icon-app, .icon-browse, .icon-crush{
        margin-bottom: 32px;
    }
    .icon-app a figure, .icon-browse a figure, .icon-crush a figure {
        margin: 0;
    }
    .icon{
        width: 75px;
    }
    .paragraph-app, .paragraph-browse, .paragraph-crush{
        margin-top: 15px;
        padding: 0 50px;
    }
    .paragraph-icon{
        font-size: 14px;
        padding: 0 67px;
        margin-left: 0px;
    }
    .paragraph-browse{
        margin-left: -2px;
        margin-top: 17px;
        font-size: 14px;
    }
    .paragraph-crush{
        padding: 0 36px;
        margin-top: 20px;
        font-size: 14px;
    }

    /*Work*/
    .section-work{
        height: 823px;
        padding: 78px;
    } 
    .title-work{
        font-size: 20px;
        font-weight: bold;
        margin-left: 1px;
    }
    .col-work:first-of-type{
        padding-left: 135px;
        padding-top: 85px;
    }
    .col-work:last-of-type{
        padding-left: 15px;
        padding-top: 85px;
        padding-right: 100px;
    }
    .col-work img{
        padding-top: 30px;
        padding-right: 0;
        padding-left: 0;
    }
    .paragraph-work{
        line-height: 21px;
        margin-left: 19px;
    }
    .phone{
        width: 298px;
        margin-top: -2px;
    }
    .paragraph-two{
        margin-top: 13px;
    }
    .paragraph-three{
        margin-top: -9px;
        margin-left: 19px;
    }
    .paragraph-four{
        margin-left: 16px;
        line-height: 21px;
    }
    .paragraph-five{
        margin-top: 13px;
        margin-left: 16px;
        padding-right: 26px;
    }
    .col-paragraph{
        padding-right: 10px!important;
    }
    .number-one{
        margin-top: 5px;
        margin-right: -4px;
        font-size: 14px;
    }
    .number-two{
        margin-top: 16px;
        margin-left: 10px;
    }
    .number-three{
        margin-left: 8px;
        margin-top: -4px;
    }
    .number-four{
        margin-top: 3px;
        margin-left: 8px;
    }
    .number-five{
        margin-top: 17px;
        margin-left: 7px;
    }
    .col-p-2{
        padding-left: 6px;
    }
    .col-p-3{
        padding-left: 8px;
    }
    .col-p-4{
        padding-left: 8px;
    }
    .col-p-5{
        padding-left: 7px;
    }

    /*About Members*/
    .about-members{
        height: 441px;
    }
    .about{
        padding-left: 243px;
        padding-top: 85px;
        padding-right: 60px;
    }
    .about h2{
        text-align: start;
        font-size: 17px;
        font-family: 'SFProDisplay-Bold';
        margin-bottom: 28px;
    }
    .members{
        padding-left: 117px;
        padding-top: 85px;
        padding-right: 200px;
    }
    .members h2{
        text-align: start;
        font-size: 17px;
        font-family: 'SFProDisplay-Bold';
        margin-bottom: 31px;
    }
    .paragraph-about-members{
        font-family: 'SFProDisplay-Light';
    }
    .about .paragraph-about-members{
        padding-right: 31px;
        font-size: 17px;
        margin-left: 1px;
    }
    .members .paragraph-about-members{
        padding-right: 9px;
        font-size: 16px;
    }

    /*Trainers*/
    .trainers{
        height: 565px;
        padding-left: 15rem;
    }
    .title-trainers{
        text-align: start;
        font-size: 21px;
        margin-left: 8px;
    }
    .paragraph-trainers{
        margin-top: 24px;
        margin-left: 9px;
        font-size: 16px;
    }
    .title-become{
        font-size: 17px;
        margin-top: 36px;
        margin-left: 6px;
    }
    .col-trainers{
        padding-top: 20px;
        padding-right: 0px;
        padding-left: 0;
    }
    .col-trainers .number{
        margin-top: 19px;
        margin-left: 15px;
    }
    .col-trainers .number-two, .col-trainers .number-three{
        margin-top: -6px;
    }
    .col-trainers .number-four, .col-trainers .number-five{
        margin-top: 9px;
    }
    .col-one{
        padding: 0;
        margin-left: 30px;
        margin-top: 17px;
        font-size: 13.3px;
        line-height: 23px;
    }
    .col-two{
        padding-left: 0;
        padding-right: 0;
        margin-left: 29px;
        margin-top: -6px;
        font-size: 13.2px;
        line-height: 23px;
    }
    .col-three{
        padding-left: 0;
        padding-right: 0;
        margin-top: -9px;
        margin-left: 29px;
        font-size: 13.1px;
        line-height: 24px;
    }
    .col-four{
        padding-left: 0;
        padding-right: 0;
        margin-left: 30px;
        margin-top: 8px;
        font-size: 13.1px;
    }
    .col-five{
        padding-left: 0;
        padding-right: 0;
        margin-left: 30px;
        margin-top: 11px;
        font-size: 13.1px;
    }
    .trainers .row{
        position: relative;
    }
    .trainers .row img{
        position: relative;
        bottom: 90px;
        left: 90px;
        width: 760px;
    }

    /*Pricing*/
    .pricing{
        height: 495px;
        padding-top: 50px;
        padding-left: 235px;
        padding-right: 215px;
    }
    .pricing .title-section{
        text-align: start;
        font-size: 21px;
        margin-top: 2px;
        margin-left: 0px;
        margin-bottom: 29px;
    }
    .pricing-members{
        font-size: 21px;
        margin-top: 2px;
        margin-left: 3px;
        margin-bottom: 5px;
    }
    .card-pricing:first-of-type{
        margin-top: 15px;
        height: 305px;
        width: 295px;
        padding-top: 30px;
    }  
    .card-pricing hr{
        margin-top: 16px;
    }
    .card-pricing .price{
        font-size: 13px;
        font-weight: bold;
        color: gray;
        margin-bottom: 0;
    }
    .col-basic{
        padding-left: 20px;
    } 
    .col-plus .card-pricing{
        width: 316px;
    }
    .col-plus{
        padding-left: 30px;
    }
    .paragraph-pricing{
        margin-top: 3px;
        font-size: 17px;
        margin-left: 3px;
        margin-bottom: 0;
    }
    .paragraph-pricing:first-of-type{

        padding: 5px 24px;
    }
    .col-basic .card-pricing .paragraph-pricing{
        padding: 5px 10px;
    }
    .paragraph-pricing:last-of-type{

        padding: 5px 20px;
    }
    .card-pricing .btn-members{
        width: 125px;
        margin-left: 34px;
        border: 2px solid;
        margin-top: 36px;
        height: 42px;
        padding: 7px;
    }
    .btn-members p{
        font-size: 13px;
        margin-top: 3px;
    }
    .card-pricing .btn-basic{
        width: 125px;
        margin-top: 59px;
        margin-left: 38px;
        border: 2px solid;
        height: 42px;
    }
    .btn-basic p{
        font-size: 13px;
        margin-top: 4px;
    }
    .card-pricing .btn-plus{
        width: 125px;
        margin-left: 47px;
        border: 2px solid;
        height: 43px;
        margin-top: 36px;
    }
    .btn-plus p{
        font-size: 13px;
        margin-top: 5px;
    }

    /*Question*/
    .accordion-one{
        margin-top: 11px;
        width: 500px;
        margin-left: 11px;
    }
    .accordion-two{
        margin-left: 11px;
        width: 502px;
    }
    .accordion-three{
        margin-left: 10px;
        width: 502px;
    }
    .accordion-four{
        margin-left: 10px;
        width: 504px;
    }
    .accordion-five{
        margin-left: 10px;
        margin-top: 11px;
        width: 503px;
    }
    .accordion-six{
        margin-left: 10px;
        width: 505px;
    }
    .accordion-seven{
        margin-left: 10px;
        width: 503px;
    }
    .accordion .accordion__label{
        padding-right: 38px;
    }
    .accordion__label{
        margin-top: -8px;
    }
    .question .row{
        margin: 0 125px;
    }
    .question .container .title-section{
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 45px;
    }
    .accordion-header .accordion-button{
        padding-top: 10px;
    }
    .question .container{
        margin-bottom: 39px;
    }

    /*Contact*/
    .section-contact{
        height: 330px;
    }
    .title-contact{
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 28px;
    }
    .section-contact .container .row{
        margin-left: 123px;
        margin-top: 36px;
    }
    .col-contact{
        padding-right: 122px;
    }
    .col-contact .btn-fitness{
        width: 193px;
        margin-right: 22px;
        margin-bottom: 38px;
        height: 42px;
        font-size: 13px;
        font-weight: bold;
    }
    .col-contact p{
        line-height: 25px;
        font-size: 17px;
    }
    .col-contact h2{
        margin-left: -2px;
    }

    /*Form*/
    .section-form .container{
        padding: 0 147px;
    }

    /*Footer*/
    .footer .container .row{
        margin-left: 54px;
        margin-right: 52px;
    }
    .footer{
        background-color: black;
        padding-top: 24px;
        padding-bottom: 28px;
    }
    .img-footer{
        width: 102px;
        margin-top: 5px;
    }
    .anio{
        font-size: 13px;
        margin-left: -100px;
    }
    .socialMedia a .fa-facebook-square, .socialMedia a .fa-instagram{
        margin-right: 28px;
        margin-top: 3px;
    }
    .col-follow{
        margin-top: -7px;
    }
    .follow{
        font-size: 12.3px;
        margin-right: -54px;
    }
}

@media (max-width: 992px) {
    /*Header*/
    .header{
        background-color: black;
        padding: 2rem 0;
        position: absolute;
        width: 100%;
    }
    .text-header{
        margin-top: 0;
        color: #ffffff;
        padding-top: 250px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    
}

@media (min-width: 320px) and (max-width: 576px) {
    
}

@media (max-width: 991px) {
    
}

@media (min-width: 768px) and (max-width: 1200px){

}

@media (min-width: 991px) and (max-width: 1200px){
    
}