@font-face {
	font-family: 'SFProDisplay-Light';
	src:url('../fonts/SF-Pro-Display-Bold.eot?-fvbane');
	src:url('../fonts/SF-Pro-Display-Bold.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/SF-Pro-Display-Bold.woff?-fvbane') format('woff'),
		url('../fonts/SF-Pro-Display-Bold.ttf?-fvbane') format('truetype'),
		url('../fonts/SF-Pro-Display-Bold.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Regular';
	src:url('../fonts/SF-Pro-Display-Bold.eot?-fvbane');
	src:url('../fonts/light/SFProDisplay-Light.eot') format('embedded-opentype'),
		url('../fonts/light/SFProDisplay-Light.svg') format('woff'),
		url('../fonts/light/SFProDisplay-Light.woff') format('truetype'),
		url('../fonts/light/SFProDisplay-Light.woff2') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Medium';
	src:url('../fonts/SF-Pro-Display-Bold.eot?-fvbane');
	src:url('../fonts/SF-Pro-Display-Bold.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/SF-Pro-Display-Bold.woff?-fvbane') format('woff'),
		url('../fonts/SF-Pro-Display-Bold.ttf?-fvbane') format('truetype'),
		url('../fonts/SF-Pro-Display-Bold.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Bold';
	src:url('../fonts/SF-Pro-Display-Bold.eot?-fvbane');
	src:url('../fonts/SF-Pro-Display-Bold.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/SF-Pro-Display-Bold.woff?-fvbane') format('woff'),
		url('../fonts/SF-Pro-Display-Bold.ttf?-fvbane') format('truetype'),
		url('../fonts/SF-Pro-Display-Bold.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

a           { text-decoration: none;  }
a:hover     { text-decoration: underline;  }
.ac         { text-align: center;  }
.al         { text-align: left;  }
.ar         { text-align: right;  }
.fl         { float: left;  }
.fr         { float: right;  }
.clear      { clear: both;  }
.overflow   { overflow: hidden;  }
.green_link { color: #6eb53e !important;  }
.semi_orange{ color: #908d22 !important;  }
.underline  { text-decoration: underline;  }
.black      { color: #53310d; font-weight: bold;  }
.hidden     { display: none;  }
.txt11px    {  font-size: 11px; }
.txt13px    {  font-size: 13px; }
img         { vertical-align: top;  }

/*Styles Gral*/
.number{
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 25px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

/*Header*/
/*
.container{
    width: 1050px;
}*/
.navbar-brand img{
    display: flex;
    align-items: center;
}
.header{
    background-color: black;
    padding: 2rem 0;
} 
@media (min-width: 992px) {
    .site-header{
        background-image: url(../img/header.png );
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 570px;
        position: relative;
    }    
    .header{
        background-color: transparent;
    } 
    .navbar-nav li{
        margin-left: 5rem;
    } /*
    .title{
        color: #ffffff!important;
    }
    .principal-title{
        color: #ffffff!important;
        position: absolute;
    }*/
}
.nav-link{
    color: #ffffff!important;
}
.nav-item a{
    text-align: start;
}
@media (min-width: 1200px) {
    .link1{
        margin-left: 140px;
    }
    .link2{
        margin-left: 95px;
    }
    .link3{
        margin-left: 95px;
    }
    .link4{
        margin-left: 106px;
    }
    .link5{
        margin-left: 109px;
    }    
}

 /*Section Icons*/
.col-icon{
    margin-top: 2rem;
    text-align: center;
}
.col-icon:last-of-type{
    margin-bottom: 2rem;
}
.title{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

@media (min-width: 992px) {
    .col-icon{
        margin-top: 67.2px;
    }
    .section-icons{
        height: 335px;
    }  
    .icon-app{
        margin-right: 27px;
        margin-bottom: 35px;
    }
    .title-app{
        color: black;
        font-size: 20px;
        font-weight: bold;
        margin-right: 40px;
    }
    .paragraph-app{
        margin-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 15px;
        margin-right: 30px;
    }
    
    
    .icon-browse{
        margin-right: 7px;
        margin-left: 5px;
        margin-bottom: 35px;
    }
    .title-browse{
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    .paragraph-browse{
        margin-top: 17px;
        padding: 0 40px;
        font-size: 15px;
    }
    
    .icon-crush{
        margin-left: 30px;
        margin-bottom: 35px;
    }
    .title-crush{
        font-size: 20px;
        color: black;
        font-weight: bold;
        margin-left: 40px;
    }
    .paragraph-crush{
        margin-top: 17px;
        font-size: 15px;
        padding: 0 30px;
        margin-left: 30px;
    }
}



/*section about and members*/

.about-members{
    text-align: center;
}
.about{
    background-color: #ffdf00;
    padding: 3rem;
}
.members{
    background-image: url(../img/background-members.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    color: #ffffff;
}
/*.section-info{
    margin-top: 17.5px;
    background-image: url(../img/about-members.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-members{
    width: 100%;
    margin: 0 auto;
    height: 441px;
}*/
/*
@media (min-width: 992px) {
    .about{
        margin-top: 70px;
        padding-right: 250px;
        padding-left: 50px;
        margin-left: 70px;
    }
    .paragraph-about{
        font-size: 15px;
        margin-right: 10px;
    }
    .members{
        margin-top: 70px;
        color: #ffffff;
        margin-right: 150px;
    }
}*/


/*Section works*/
.section-work{
    padding: 2rem;
}
.section-work .row{
    text-align: center;
    margin: 1rem 0;
}
@media (min-width: 992px) {
    .section-work .row{
        text-align: justify;
    }
    .section-work{
        margin-top: 75px;
        height: 750px;
    }
    .section-work h2{
        font-size: 20px;
    }
    .section-work p{
        margin-top: 125px;
        margin-left: 50px;
    }
    .section-work img{
            margin-top: 60px;
            margin-left: 40px;
    }    
}

.phone{
    max-width: 100%;
}

/*Section Trainers*/
.img-training img{
    max-width: 100%;
}
.trainers{
    background-color: rgb(245, 245, 245);
    padding: 2rem;
}
/*
.trainers{
    background-color: rgb(245,245,245);
    height: 560px;
}
.trainers .col img{
    margin-bottom: 500px;
    margin-left: 500px;
}*/

/*Pricing*/
.pricing{
    padding: 2rem;
    background-color: rgb(255, 223,0);
}
.card{
    margin-top: 2rem;
}
/*
.pricing{
    height: 495px;
    background-color: rgb(255, 223,0);
}*/


/*Section question*/
.question{
    padding: 2rem;
    background-color: rgb(245, 245, 245);
}
/*
.section-question{
    background-color: rgb(245,245,245);
    height: 495px;
}*/

/*Section Contact*/ 
.contact{
    text-align: center;
}
/*
.section-contact{
    height: 330px;
}*/

/*footer*/
.footer{
    background-color: black;
}
footer .row{
    align-items: center;
    padding: 2rem 0;
}
.logo-footer, .socialMedia{
    text-align: center;
    padding: 1rem;
}