a           { text-decoration: none;  }
a:hover     { text-decoration: underline;  }
.ac         { text-align: center;  }
.al         { text-align: left;  }
.ar         { text-align: right;  }
.fl         { float: left;  }
.fr         { float: right;  }
.clear      { clear: both;  }
.overflow   { overflow: hidden;  }
.green_link { color: #6eb53e !important;  }
.semi_orange{ color: #908d22 !important;  }
.underline  { text-decoration: underline;  }
.black      { color: #53310d; font-weight: bold;  }
.hidden     { display: none;  }
.txt11px    {  font-size: 11px; }
.txt13px    {  font-size: 13px; }
img         { vertical-align: top;  }


/*Header*/
.container {
    width: 1050px;
}
.site-header{
    background-image: url(../img/img-header.png);
    background-repeat: no-repeat;
    height: 570px;
    max-width: 100%;
    background-position: center center;
    background-size: cover;

}

@media (max-width: 992px) {
    .navbar-brand img{
        margin-bottom: 1.8rem;
        width: 150px;
    }    
}

.nav-link{
    color: #ffffff!important;
}
@media (max-width: 1200px) {
    .navbar-nav li{
        margin-left: 5rem;
    }    
}
.nav-item a{
    text-align: start;
}
@media (min-width: 1200px) {
    .link1{
        margin-left: 140px;
    }
    .link2{
        margin-left: 95px;
    }
    .link3{
        margin-left: 95px;
    }
    .link4{
        margin-left: 106px;
    }
    .link5{
        margin-left: 109px;
    }    
}

 /*Section*/
 .section-icons{
     height: 335px;
 }  
.col-icon{
    margin-top: 67.2px;
}
.icon-app{
    margin-right: 27px;
    margin-bottom: 35px;
}
.title-app{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}
.paragraph-app{
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 15px;
    margin-right: 30px;
}


.icon-browse{
    margin-right: 7px;
    margin-left: 5px;
    margin-bottom: 35px;
}
.title-browse{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.paragraph-browse{
    margin-top: 17px;
    padding: 0 40px;
    font-size: 15px;
}

.icon-crush{
    margin-left: 30px;
    margin-bottom: 35px;
}
.title-crush{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 40px;
}
.paragraph-crush{
    margin-top: 17px;
    font-size: 15px;
    padding: 0 30px;
    margin-left: 30px;
}



/*section about and members*/
.section-info{
    margin-top: 17.5px;
    background-image: url(../img/about-members.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-members{
    width: 100%;
    margin: 0 auto;
    height: 441px;
}
.about{
    margin-top: 70px;
    padding-right: 250px;
    padding-left: 50px;
    margin-left: 70px;
}
.paragraph-about{
    font-size: 15px;
    margin-right: 10px;
}
.members{
    margin-top: 70px;
    color: #ffffff;
    margin-right: 150px;
}


/*Section works*/
.section-work{
    margin-top: 70px;
}

/*Section Trainers*/
.trainers{
    background-color: rgb(163, 162, 162);
}

/*Pricing*/
.pricing{
    background-color: rgb(255, 223,0);
}

/*footer*/
footer{
    background-color: black;
}
.socialMedia a{
    text-align: end;
}
