@font-face {
	font-family: 'SFProDisplay-Light';
	src:url('../fonts/light/SFProDisplay-Light.eot') format('embedded-opentype'),
		url('../fonts/light/SFProDisplay-Light.woff') format('woff'),
		url('../fonts/light/SFProDisplay-Light.woff2') format('woff2'),
		url('../fonts/light/SFProDisplay-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Regular';
	src:url('../fonts/regular/SFProDisplay-Regular.eot') format('embedded-opentype'),
		url('../fonts/regular/SFProDisplay-Regular.woff') format('woff'),
		url('../fonts/regular/SFProDisplay-Regular.woff2') format('woff2'),
		url('../fonts/regular/SFProDisplay-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Medium';
	src:url('../fonts/medium/SFProDisplay-Medium.eot') format('embedded-opentype'),
		url('../fonts/medium/SFProDisplay-Medium.woff') format('woff'),
		url('../fonts/medium/SFProDisplay-Medium.woff2') format('woff2'),
		url('../fonts/medium/SFProDisplay-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Bold';
	src:url('../fonts/bolt/SFProDisplay-Bold.eot') format('embedded-opentype'),
		url('../fonts/bolt/SFProDisplay-Bold.woff') format('woff'),
		url('../fonts/bolt/SFProDisplay-Bold.woff2') format('woff2'),
		url('../fonts/bolt/SFProDisplay-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

a           { text-decoration: none;  }
a:hover     { text-decoration: underline;  }
.ac         { text-align: center;  }
.al         { text-align: left;  }
.ar         { text-align: right;  }
.fl         { float: left;  }
.fr         { float: right;  }
.clear      { clear: both;  }
.overflow   { overflow: hidden;  }
.green_link { color: #6eb53e !important;  }
.semi_orange{ color: #908d22 !important;  }
.underline  { text-decoration: underline;  }
.black      { color: #53310d; font-weight: bold;  }
.hidden     { display: none;  }
.txt11px    {  font-size: 11px; }
.txt13px    {  font-size: 13px; }
img         { vertical-align: top;  }

/*GRAL STYLES*/
.title-section{
    text-align: center;
    margin-bottom: 2rem;
}
.number{
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 25px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.paragraph-center{
    text-align: center;
}

/*HEADER*/
.site-header{
    background-image: url(../img/header.png );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 578px;
} 
.text-header{
    margin-top: 5rem;
    color: #ffffff;
    text-align: center;
}
.img-appstore{
    margin-top: 2rem;
}
.navbar-brand img{
    display: flex;
    align-items: center;
}
.header{
    background-color: transparent;
    padding: 2rem 0;
} 
.nav-link{
    color: rgb(245, 245, 245)!important;
}
.nav-item a{
    text-align: start;
}
.link1 a, .link2 a, .link3 a, .link4 a, .link5 a{
    font-family: 'SFProDisplay-Regular';
}
.main-text{
    font-family: 'SFProDisplay-Bold';
}
@media (min-width: 768px) {
    .text-header{
        margin-top: 2rem;
        text-align: start;
        margin-left: 0;
        padding-left: 0;
    }  
    .main-text{
        margin: 0;
    } 
    .img-appstore{
        margin-top: 1rem;
    }
}
@media (min-width: 992px) {
    
    .text-header{
        margin-top: 82px;
        color: #ffffff;
        padding-right: 150px;
    }
    .text-header h1{
        font-size: 44px;
        margin-left: 1px;
    }
    .text-header img{
        margin-top: 38px;
        margin-left: 3px;
        width: 127px;
    }
    .site-header nav{
        margin-left: 232px;
        margin-right: 220px;
    }
    .text-header{
        margin-left: 130px;
    }
    .site-header .container .collapse{
        justify-content: end;
    }
    .link4{
        margin-right: 108px;
    }
    .link4 a{
        margin-right: 1px;
        font-size: 17px;
    }
    .link3{
        margin-right: 105px;
    }
    .link3 a{
        margin-right: 3px;
        font-size: 17px;
        margin-top: 1px;
    }
    .link2{
        margin-right: 95px;
    }
    .link2 a{
        margin-right: -6px;
        font-size: 17px;
        margin-top: 1px;
    }
    .link1{
        margin-right: 95px;
    }
    .link1 a{
        margin-right: 0px;
        margin-top: 1px;
        font-size: 17px;
    }
    .link5 a{
        margin-top: 2px;
        font-size: 17px;
        margin-right: -5px;
    }
    .logo-header{
        margin-left: 0px;
        width: 160px;
        margin-top: 1px;
    }
}

 /*SECTION ICONS*/
.col-icon{
    margin-top: 2rem;
    text-align: center;
}
.col-icon:last-of-type{
    margin-bottom: 2rem;
}
.title{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.paragraph-icon{
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .icons{
        margin: 1rem 0;
    }
}
@media (min-width: 992px) {
    .section-icons{
        height: 337px;
    }
    .col-icon{
        margin-top: 53px;
    }
    .col-icon:first-of-type{
        padding-left: 137px;
    }
    .col-icon:last-of-type{
        padding-right: 135px;
    }
    .icon-app, .icon-browse, .icon-crush{
        margin-bottom: 35px;
    }
    .paragraph-app, .paragraph-browse, .paragraph-crush{
        margin-top: 15px;
        padding: 0 50px;
    }
    .paragraph-icon{
        font-size: 14px;
        padding: 0 2rem;
    }
}

/*SECTION ABOUT MEMBERS*/
.about-members{
    text-align: center;
}
.about{
    background-color: #ffdf00;
    padding: 2rem;
}
.members{
    background-image: url(../img/background-members.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: #ffffff;
}
@media (min-width: 768px) {
    .paragraph-about-members{
        text-align: start;
    }    
}
@media (min-width: 992px) {
    .about-members{
        height: 441px;
    }
    .about{
        padding-left: 243px;
        padding-top: 85px;
        padding-right: 60px;
    }
    .about h2{
        text-align: start;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 28px;
    }

    .members{
        padding-left: 117px;
        padding-top: 85px;
        padding-right: 200px;
    }
    .members h2{
        text-align: start;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 28px;
    }
}


/*SECTION WORKS*/
.section-work{
    padding: 2rem;
}
.section-work .row{
    text-align: center;
}
.title-work{
    margin-bottom: 2rem;
    text-align: center;
}
.section-work .container{
    padding: 0;
}
.col-work{
    padding: 0;
}
.row-work .col-10{
    padding-right: 0;
}
.row-work{
    justify-content: center;
}
.phone{
    max-width: 100%;
}
.paragraph-work{
    text-align: start;
    margin-left: 1rem;
    margin-right: 0;
}
@media (min-width: 768px) {
    .phone{
        max-width: 100%;
        margin-top: 0rem;
    }
    .row-work{
        padding: 1rem   ;
    }
    .col-work img{
        padding: 1rem;
    }
}
@media (min-width: 992px) {
    .section-work{
        height: 823px;
        padding: 78px;
    } 
    .title-work{
        font-size: 20px;
        font-weight: bold;
        margin-left: 1px;
    }
    .col-work:first-of-type{
        padding-left: 135px;
        padding-top: 85px;
    }
    .col-work:last-of-type{
        padding-left: 15px;
        padding-top: 85px;
        padding-right: 100px;
    }
    .col-work img{
        padding-top: 30px;
        padding-right: 0;
        padding-left: 0;
    }

}


/*SECTION TRAINERS*/
.trainers{
    background-color: rgb(245, 245, 245);
    padding: 2rem;
}

.img-training img{
    max-width: 100%;
}

.title-trainers{
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .trainers{
        height: 565px;
        padding-left: 15rem;
    }
    .title-trainers{
        text-align: start;
        font-size: 20px;
        font-weight: bold;
    }
    .col-trainers{
        padding-top: 20px;
    }
    .trainers .row{
        position: relative;
    }
    .trainers .row img{
        position: relative;
        bottom: 90px;
        left: 90px;
        width: 760px;
    }
    .paragraph-trainers{
        font-size: 13px;
    }
}

/*PRICING*/
.pricing{
    padding: 2rem;
    background-color: rgb(255, 223,0);
}

.card-pricing{
    margin-bottom: 2rem;
    padding: 3rem;
    text-align: center;
}
.paragraph-pricing{
    margin-bottom: 2rem;
}

@media (min-width: 992px) {
    .pricing{
        height: 495px;
        padding-top: 50px;
        padding-left: 235px;
        padding-right: 215px;
    }
    .pricing .title-section{
        text-align: start;
        font-size: 20px;
        font-weight: bold;
    }
    .pricing-members{
        font-size: 20px;
        font-weight: bold;
        margin-top: 2px;
        margin-left: 3px;
        margin-bottom: 5px;
    }
    .card-pricing:first-of-type{
        margin-top: 15px;
        height: 305px;
        width: 295px;
        padding-top: 30px;
    }  
    .card-pricing .price{
        font-size: 14px;
        font-weight: bold;
        color: gray;
        margin-bottom: 0;
    }
    .col-basic{
        padding-left: 20px;
    } 
    .col-plus .card-pricing{
        width: 316px;
    }
    .col-plus{
        padding-left: 30px;
    }
    .paragraph-pricing:first-of-type{
        margin-bottom: 34px;
        padding: 5px 24px;
    }
    .col-basic .card-pricing .paragraph-pricing{
        margin-bottom: 34px;
        padding: 5px 10px;
    }
    .paragraph-pricing:last-of-type{
        margin-bottom: 34px;
        padding: 5px 20px;
    }
    .card-pricing .btn-members{
        width: 125px;
        margin-left: 34px;
        border: 2px solid;
    }
    .card-pricing .btn-basic{
        width: 125px;
        margin-top: 23px;
        margin-left: 38px;
        border: 2px solid;
    }
    .card-pricing .btn-plus{
        width: 125px;
        margin-left: 47px;
        border: 2px solid;
    }
}

/*SECTION QUESTION*/
.question{
    padding: 2rem;
    background-color: rgb(245, 245, 245);
}
.col-question{
    padding: 0;
}
.item-question{
    margin-top: 10px;
    margin: 11px;
    border: none;
    background-color: #ffffff;
}
@media (min-width: 992px) {
    .question .row{
        margin: 0 125px;
    }
    .question .container .title-section{
        font-size: 21px;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 45px;
    }
    .accordion-header .accordion-button{
        padding-top: 10px;
        font-weight: bold;
    }
    .question .container{
        margin-bottom: 51px;
    }
}

/*SECTION CONTACT*/ 
.section-contact{
    padding: 2rem;
}
.title-contact{
    text-align: center;
}
@media (min-width: 768px) {
    .title-contact{
        text-align: start;
    }    
    .col-contact:last-of-type{
        display: flex;
        align-items: center;
        justify-content: end;
    }
}
.btn-fitness{
    background-color: rgb(255, 223,0);
    text-align: center;
}
@media (min-width: 992px) {
    .section-contact{
        height: 330px;
    }
    .title-contact{
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 28px;
    }
    .section-contact .container .row{
        margin-left: 123px;
        margin-top: 36px;
    }
    .col-contact{
        padding-right: 122px;
    }
    .col-contact .btn-fitness{
        width: 193px;
        margin-right: 22px;
        margin-bottom: 34px;
        height: 42px;
        font-size: 13px;
        font-weight: bold;
    }
}

/*FOOTER*/
.footer{
    background-color: black;
    padding: 2rem;
}
.footer .row{
    align-items: center;
}

.logo-footer, .socialMedia{
    text-align: center; 
}
.follow{
    font-family: 'SFProDisplay-Regular';
}

@media (min-width: 768px) {
    .footer .row .logo-footer{
        text-align: start;
    }
    .footer .row .socialMedia{
        text-align: end;
    }
    .footer .container .row{
        margin-left: 119px;
        margin-right: 120px;
    }
    .footer{
        background-color: black;
        padding-top: 24px;
        padding-bottom: 28px;
    }
    .img-footer{
        width: 102px;
        margin-top: 5px;
    }
    .fa-twitter{
        font-size: 21px;
        color: #ffffff;
        margin-top: 2px;
    }
    .fa-instagram{
        font-size: 21px;
        margin-right: 29px;
        color: white;
    }
    .fa-facebook-square{
        font-size: 21px;
        margin-right: 32px;
        color: white;
    }
    .follow{
        font-size: 12px;
        margin-right: 40px;
        color: white;
    }
}